---
layout:     default
title:      "Continuous News"
excerpt:    "Here you will find all news about continuousphp: new features & content, business news, events we will attend, and many other things."
permalink:  /news/
---

<section class="site-content resource-list clearfix">

  <div class="row">
    <div class="columns small-12">
      <h1>News</h1>
    </div>
  </div>

  {% for post in site.categories['news'] %}
  <div class="row resource-item clearfix">
    <div class="columns medium-5 small-12">
      <h2>
        {% if post.link %}
        <a target="_blank" href="{{ post.link }}">
          {{ post.title }}
        </a>
        {% else %}
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        {% endif %}
      </h2>
      <div class="signature clearfix">
        <img gravatar-src="'{{ site.data.members[post.author].email }}'"
             title="{{ site.data.members[post.author].name }}"
             class="label round gravatar"
             gravatar-size="47" />
        <span class="time">Posted about <span am-time-ago="'{{ post.date | date_to_xmlschema }}'"></span></span><br />
        {% if site.data.members[post.author].show %}
        <span class="writer">Written by <a href="/about-us#{{ post.author }}">{{ site.data.members[post.author].name }}</a></span>
        {% else %}
        <span class="writer">Written by {{ site.data.members[post.author].name }}</span>
        {% endif %}
      </div>
    </div>
    <div class="columns medium-7 small-12 synopsis">

      {{ post.excerpt }}

      {% if post.link %}
      <a class="button success" target="_blank" href="{{ post.link }}">
        Read more
      </a>
      {% else %}
      <a class="button success" href="{{ post.url }}">
        Read more
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}

</section>
