<footer id="footer">
  <div class="row collapse">
    <div class="columns medium-4 text-center">
      <img src="/assets/grayscale-continuousphp.png" class="logo" alt="continuousphp" />
      <div class="row copyright">
        &copy; 2016 Continuous S.A. - All rights reserved.
      </div>
    </div>
    <div class="columns medium-4">
      <ul class="vcard footer-links">
        <li class="fn org"><a href="http://continuous.lu">Continuous S.A.</a></li>
        <li class="adr">
          <ul>
            <li class="street-address">9 avenue des Hauts-Fourneaux</li>
            <li><span class="postal-code">4362</span> <span class="locality">Esch-sur-Alzette</span></li>
            <li class="country-name">Luxembourg</li>
            <li>Phone: <a class="tel" href="tel:+352545580270">+352 54 55 80-270</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="columns medium-4">
      <h4>Follow us</h4>
      <ul class="social-links inline-list">
        <li>
          <a target="_blank" href="https://www.facebook.com/pages/ContinuousPHP/183047251848548">
            <i class="continuousphp-icon-facebook-square"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="continuousphp-icon-twitter-square"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://google.com/+Continuousphp">
            <i class="continuousphp-icon-google-plus"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/company/continuousphp">
            <i class="continuousphp-icon-linkedin-square"></i>
          </a>
        </li>
      </ul>

      <a class="button small radius footer-newsletter"
         target="_blank"
         href="https://zc1.maillist-manage.com/ua/Optin?od=11287eca5741e9&opDgs=7200cd3a4fff9f7a6e7afab5049fd5c6d71b62c3142be692&lD=1153c9e46b9c1e7e&n=11699f750f406b6">
        <i class="fa fa-envelope"></i>
        Subscribe to our newsletter
      </a>

    </div>
  </div>
  <div class="row collapse">
    <div class="columns small-12 text-center footer-links">
      <a href="http://statuspage.continuousphp.com/">Status</a> -
      <a href="/terms-of-service/">Services Terms and Conditions of Use</a> -
      <a href="/terms-of-website/">Web Site Terms Of Use</a> -
      <a href="/security-policy/">Security Policy</a> -
      <a href="/privacy-policy/">Privacy Policy</a> -
      <a href="https://continuous.lu/home/agile-devops-team">About us</a>
    </div>
  </div>
</footer>
