<!-- build:css({.tmp,app}) /styles/vendor.css -->
<link rel="stylesheet" href="https://continuousphp.com/styles/5d2e5b2e.vendor.css"/>
<!-- endbuild -->
<!-- build:css({.tmp,app}) /styles/main.css -->
<link rel="stylesheet" href="https://continuousphp.com/styles/d2267f46.main.css"/>
<style>
    .ng-cloak,.x-ng-cloak,[data-ng-cloak],[ng-cloak],[ng\:cloak],[x-ng-cloak]{
        display:block!important
    }
</style>
<!-- endbuild -->
<!-- Ad blocker catcher -->
<script type="text/javascript" src="/assets/advert.js"></script>

<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Organization",
"url": "https://continuousphp.com/",
"logo": "https://continuousphp.com/images/apple-touch-icon-144x144.png",
"name": "continuousphp",
"sameAs": [
  "https://www.facebook.com/pages/ContinuousPHP/183047251848548",
  "https://twitter.com/{{ site.twitter_username }}",
  "https://google.com/+Continuousphp",
  "https://www.linkedin.com/company/continuousphp",
  "https://www.youtube.com/channel/UCXAhXvtNuXrZ6Xv4XQg7ZBA"
]
}
</script>
<script type="application/ld+json">
{
"@context" : "http://schema.org",
"@type" : "WebSite",
"name" : "continuousphp",
"url" : "https://continuousphp.com/"
}
</script>

