---
layout: default
---
<article itemscope
         {% if page.categories contains 'tutorial' %}
         itemtype="http://schema.org/TechArticle"
         {% else %}
         itemtype="http://schema.org/NewsArticle"
         {% endif %}
         class="site-content resource clearfix">

<header class="row">
  <div class="columns small-12">
    <h1 itemprop="headline">{{ page.title }}</h1>
    <meta itemprop="description" content="{{ page.excerpt | strip_html }}" />
    {% if page.image %}
    <meta itemprop="image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}
  </div>
</header>

<div class="row">
  <div class="columns small-12 content" itemprop="articleBody" anchor-linkify>
    {% if page.hasDescription %}
    {{ content | remove: page.excerpt }}
    {% else %}
    {{ content }}
    {% endif %}
  </div>
</div>

<footer class="row">
  <div class="columns medium-6 small-12 signature clearfix">
    <img gravatar-src="'{{ site.data.members[page.author].email }}'"
         title="{{ site.data.members[page.author].name }}"
         class="label round gravatar"
         gravatar-size="47" />
    <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}"/>
    <span class="time">Posted about <span am-time-ago="'{{ page.date | date_to_xmlschema }}'"></span></span><br />
      <span class="writer">
        Written by
        <span itemprop="author">
          {% if site.data.members[page.author].show %}
          <a href="/about-us/#{{ page.author }}"
             itemscope itemtype="http://schema.org/Person">
            <meta itemprop="url" content="/about-us/#{{ page.author }}" />
            <span
              itemprop="name">{{ site.data.members[page.author].name }}</span>
          </a>
          {% else %}
            {{ site.data.members[page.author].name }}
          {% endif %}
        </span>
      </span>
  </div>
  {% raw %}
  <div class="columns medium-6 small-12 social clearfix">
    <ul class="inline-list">
      <li>
        <a facebook class="facebookShare"
           data-url="{{ cannonicalUrl }}"
           data-title="{{ Head.title() }}"
           data-shares="shares">{{ shares }}</a>
      </li>
      <li>
        <div linkedin
             class="linkedinShare"
             data-url="{{ cannonicalUrl }}"
             data-title="{{ Head.title() }}"
             data-summary="{{ Head.description() }}"
             data-shares="linkedinshares">{{ linkedinshares }}</div>
      </li>
      <li>
        <div gplus
             class="g-plus"
             data-size="tall"
             data-annotation="bubble"
             data-href="{{ cannonicalUrl }}"
             data-action='share'></div>
      </li>
      <li>
        <a twitter
           data-lang="en"
           data-count="horizontal"
           data-url="{{ cannonicalUrl }}"
           data-via="continuousphp"
           data-size="medium"
           data-text="{{ Head.title() }}" ></a>
      </li>
    </ul>
  </div>
  {% endraw %}
</footer>
{% if page.comments %}
<div class="row">
  <dir-disqus disqus-shortname="continuousphp"
              disqus-identifier="{{ page.url | replace:'index.html','' }}"
              disqus-title="{{ page.title }}"
              disqus-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
              disqus-config-language="en">
  </dir-disqus>
</div>
{% endif %}
</article>
