---
layout: default
---
<article itemscope
         {% if page.categories contains 'tutorial' %}
         itemtype="http://schema.org/TechArticle"
         {% else %}
         itemtype="http://schema.org/NewsArticle"
         {% endif %}
         class="site-content resource clearfix">

  <header class="row">
    <div class="columns small-12">
      <h1 itemprop="headline">{{ page.title }}</h1>
      <meta itemprop="description" content="{{ page.excerpt | strip_html }}" />
      {% if page.image %}
      <meta itemprop="image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}" />
      {% endif %}
    </div>
  </header>

  <div class="row">
    <div class="columns small-12 content" itemprop="articleBody" anchor-linkify>
      {% if page.hasDescription %}
      {{ content | remove: page.excerpt }}
      {% else %}
      {{ content }}
      {% endif %}
    </div>
  </div>

  <footer class="row">
    <div class="columns medium-6 small-12 signature clearfix">
      <img gravatar-src="'{{ site.data.members[page.author].email }}'"
           title="{{ site.data.members[page.author].name }}"
           class="label round gravatar"
           gravatar-size="47" />
      <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}"/>
      <span class="time">Posted about <span am-time-ago="'{{ page.date | date_to_xmlschema }}'"></span></span><br />
      <span class="writer">
        Written by
        <span itemprop="author">
          <a href="https://continuous.lu/home/agile-devops-team/#{{ page.author }}"
             itemscope itemtype="http://schema.org/Person">
            <meta itemprop="url" content="https://continuous.lu/home/agile-devops-team/#{{ page.author }}" />
            <span
              itemprop="name">{{ site.data.members[page.author].name }}</span>
          </a>
        </span>
      </span>
    </div>
  </footer>
</article>
